name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  smoke-test:
    name: Smoke Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run smoke test
        run: |
          python smoke-check.py

  deploy-pages:
    name: Deploy GitHub Pages
    needs: smoke-test
    if: github.ref == 'refs/heads/master' && success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
        with:
          enablement: github-actions  # Omogoči Pages, če še niso aktivni

      - name: Build site with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: .
          destination: ./_site

      - name: Upload Pages artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ./_site  # folder, ki ga je ustvaril Jekyll build

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
